DB_PASSWORD=change-me
DB_ROOT_PASSWORD=change-me-too
ADMIN_ALLOWED_HOSTS=admin.example.ztlp,localhost
ZTLP_ZONE=example.ztlp
ZTLP_NS_ADDR=127.0.0.1:23096
ZTLP_NS_ADMIN_BASE_URL=http://127.0.0.1:9103
FORCE_SSL=false
ADMIN_BIND=127.0.0.1
ADMIN_PORT=3000
