<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.ztlp.agent</string>
    <key>BundleProgram</key>
    <string>Contents/Helpers/ztlp</string>
    <key>ProgramArguments</key>
    <array>
        <string>agent</string>
        <string>start</string>
        <string>--foreground</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>/Library/Application Support/ZTLP</string>
    </dict>
    <key>UserName</key>
    <string>root</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Library/Logs/ZTLP/agent.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Library/Logs/ZTLP/agent.stderr.log</string>
</dict>
</plist>
